@media screen and (max-width: 1024px) {
 
  .icon {
    margin-top: -5px;
  }
  .content-project .col-lg-6 img{
    width: 450px;
  }
  .hero .text {
    margin-top: -20rem;
  }
  
  
}

@media screen and (max-width: 768px) {
  .text {
    /* margin-top: -95rem; */
    line-height: -1.5px;
  }
 
  .name {
    display: block;
  }
  .major {
    display: block;
    margin-top: -4rem;
  }
  .Dev {
    display: block;
  }
  .country {
    display: block;
  }
  .icon {
    margin-top: -2px;
  }
}

@media screen and (max-width: 430px) {
 
  #wm li{
    display: none;
  }
  .skils{
    font-size: 30px
  }
 .content-project .col-lg-6 img{
    width: 400px;
 }
 .fill-content h1{
    margin-top: -90px;
 }
 
  .about img {
    width: 300px;
  }
  .content-experience h1 {
    font-size: 28px;
  }
  .Experience {
    font-size: 28px;
  }
  .text {
    margin-top: 40px;
  }
 
  .expereince .card2 svg {
    margin: 0px -20px;
  }
  .expereince .card2 {
    width: 350px;
    margin-left: -50px;
  }
  .expereince .card2 h1 {
    text-align: center;
    font-size: 15px;

    /* margin-left: -50px;   */
  }
  .expereince .card3 {
    width: 350px;
    margin-left: -50px;
  }
  .expereince .card3 h1 {
    font-size: 20px;
    /* text-align: left; */
  }
  .expereince .card3 svg {
    margin: 0px -20px;
  }
  .content-project img {
    flex: 1 0 0;
    margin: 0px -4rem;
    width: 400px;
  }
  .content-project h1{
    font-size: 24px;
    margin-left: -50px;
  }
  .content-project h2{
    font-size: 20px;
    margin-left: -50px;
    margin-top: -30px;

  }
  .content-project p{
    font-size: 18px;
    margin-left: -50px;
    margin-top: -20px;


  } 
  .form-control{
    width: 300px;
  }
  .form{
    width: 300px;

  }
  .icon-contact{
    display: inline-block;
  }
  .btn-icon{
    margin-top: 20px;
    /* margin-left: -10px; */
  }
  .desc-contact{
    margin-left: -30px;
  }
  .desc-contact h2{
    font-size: 20px;
  }
  .cntc-icon{
    margin-left: -20px;
  }
  
}

@media screen and (max-width: 390px) {
  
  .content-project .col-lg-6 img {
    width: 300px;
  }
  .expereince .card2 {
    width: 300px;
    margin-left: -50px;
  }
  .expereince .card3 {
    width: 300px;
    margin-left: -50px;
  }
  .expereince .card3 h2 {
    display: none;
  }
  .expereince .card2 h2 {
    display: none;
  }
  .content-experience h1 {
    font-size: 30px;
  }
  .content-project img {
    flex: 1 0 0;
    margin: 0px -4rem;
    width: 400px;
  }
}
@media screen and (max-width: 375px){

}


@media screen and (max-width: 320px) {
  
  .expereince .card3 {
    width: 300px;
    margin-left: -81px;
  }
  .expereince .card2 {
    width: 300px;
    margin-left: -81px;
  }
  .fill-content h2{
    font-size: 1px;
  }
  .testimonials .card{
    width: 300px;
  }
  #wm li{
    display: none;
  }
}
@media screen and (max-width:1194px) {
  .img img{
    display: none;
  }
}